*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
        background: #000727;
}
.main{
    width: 100%;
    background: #000727;
}
.main .top{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    gap:10px;
    padding: 1vw;
    
}
.top .mainlogo{
    width: 50%;
    border: 13px solid #fff;
    animation: Border 3s ease-in-out infinite alternate;
}
.heading-cont{
    width: 100%;
    padding:5px;
    background: transparent;
    text-align: center;
    overflow: hidden;
}
.top .heading{
   color: #fff;
   font-size: 5.5vw;
   transform: translateY(40px);
   animation: Heading .6s linear forwards;
}
.container {
    width: 100%;
    height: 150vh;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:5.5vw;
    background: transparent;
    position: absolute;
   top: 50%;
   margin-bottom: 0%;

}
.card{
    width: 80vw;
    height: 75vw;
    background: #000c42;
    padding: 1vw;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
    margin-bottom: 10px;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12px #ffffff65;
}
.card img{
   border-radius: 50%;
   width: 50%;
   height: 50%;
   box-shadow: 0 0 10px #fff;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
    opacity: .5;
    transition:.2s ease-out;
 
}
.card:hover .status{
    opacity: 1;
}
.active{
    width: 2vw;
    height: 2vw;
    background: green; 
      border-radius: 50%;
      transition:.2s ease-out;
}
.card:hover .active{
    box-shadow: 0 0 10px lime;
    background: lime;
    
}
h3{
    font-family: monospace;
    font-size: 5vw;
    opacity: .5;
    transition:.2s ease-out;
}

.card:hover >  h3{
    opacity: 1;
}
.owner{
    color: #fff;
    transition: 0.2s ease-out;
    
}
.card:hover .owner{
    text-shadow: 0 0 10px #fff;
}
.join{
    padding: 2vw 5vw;
    background: limegreen;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 10px lime;
}
